
/*
 * 公共样式
 */

html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
    margin: 0;
    padding: 0;
}
*{box-sizing: border-box;}
html, body {
    min-height: 100%;
}

body {
    font-family: "Microsoft YaHei";
    font-size: 62.5%;
    position: relative;
}

h1, h2, h3, h4, h5, h6{font-weight:normal;}
ul,ol {
    list-style: none;
}

img {
	width: 100%;
    border: none;
    vertical-align: middle;
}

/*
 * 页面详情样式
 */
.detail_bg{
	width: 100%;
	position: relative; 
}
.detail_bg_img{
	width: 100%;
	display:block
}
.detail_footer{
	width: 100%;
	height: 36rem;
	background: linear-gradient(to bottom, #2b2a4b 0%,#412e6b 100%);
}
.actTime{
	width: 80%;
	text-align: center;
	color: #fddb0d;
	font-size: 1rem;
	font-weight: bolder;
	position: absolute;
    top: 40%;
    left: 10%;
}
.actTime p{
	padding: 0.1rem 0;
}
.getAward_wrap1{
	width: 100%;
	border: 2px solid #e97c9f;
	border-radius: 0.3rem;
}
.getAward_wrap2{
	width: 100%;
	border: 3px solid #753d54;
	border-radius: 0.3rem;
}
.getAward_wrap3{
	width: 90%;
	margin: 0 auto;
	padding-top: 18px;
}
.awardBg{
	background-image: url(/images/awardbg.png);
	width: 80%;
	position: absolute;
	left: 10%;
	bottom: -1.5rem;
	height: 300px;
	background-position: 0 0;
	background-size: 100% 100%;
	animation:bgAnimation 1s infinite;
	-webkit-animation:bgAnimation 1s infinite; /* Safari 和 Chrome */
}
.getAward{
	position: relative;
	width: 100%;
	height: 16rem;	
}
.fddb0d{
	background: #fddb0d;
}
.list{
	width: 25%;
	height: 4rem;
	display: inline-block;
	text-align: center;
	 vertical-align: middle;
	 background: #fddb0d;
	 border-radius: 0.3rem;
}
.cr243884{
	color: #243884;	
}
.list_img{
	display: inline-block;
	width: 70%;
	height: 90%;
}
.list2{
	height: 8rem;
	width: 100%;
	text-align: center;
}
.line3_left,.line3_right{
	width: 100%;
	height: 4rem;
	background: #fddb0d;
	font-size: 1rem;
	border-radius: 0.3rem;
}
.list2 .line3{
	width: 25%;
	height: 8rem;
	display: inline-block;
	vertical-align: middle;
	
}
.line3_center{
	width: 50%;
	height: 8rem;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #b03dfc;
	box-sizing: border-box;
	border-radius: 0.3rem;
}
.line1{
	background-color: #fddb0d;
	/*background-image: url(../images/iphone7.png) no-repeat center;*/
	background-size:60% 90% ;
}
.line2,.line4{
    font-size: 1rem;
    line-height: 4rem;
    font-weight: bolder;
}
.height60{
	height: 60%;
}
.get_img{
	display: inline-block;
	vertical-align: middle;
	width: 90%;
	height: 90%;
	margin-top: 5%;
}
.a62195{
	background: #a62195;
}
.border{
	border: 1px solid #b03dfc;
	box-sizing: border-box;
}
.rule{
	width: 100%;
	color: #fff;
	padding-top: 2rem;
}
.rule p{
	width: 100%;
	font-size: 1.4rem;
	text-align: center;
	padding-bottom: 1.5rem;
}
.rule span{
	display: inline-block;
	width: 100%;
	font-size: 0.8rem;
	line-height: 1.6rem;
	text-align: left;
	text-indent: 1rem;
}
.award_info_tit{
	width: 100%;
	color: #FDDB0D;
	font-size: 1.4rem;
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 1rem;
}
.award_detail_top{	
	width: 100%;
	margin: 0 auto;
	height: 2.4rem;
	background: linear-gradient(to bottom, #fdae00 0%,#ffff00 100%);
}
.award_detail{
	width: 100%;
	background: #fff;
	margin: 0 auto;
}
.award_info_list{
	width: 96%;
	margin: 0 auto;
	border-radius: 1rem;
}
.award_detail_top span{
	display: inline-block;
	line-height: 2.4rem;
	text-align: center;
	color: #000;
	font-size: 1rem;
	width: 33%;
}
.award_detail{
	width: 100%;
	min-height: 16rem;
}
.award_detail li{
	width: 33%;
	display: inline-block;
	line-height: 2rem;
	float: left;
	font-size: 0.8rem;
	text-align: center;
}
/*.award_detail li:nth-of-type(1){
	width: 30%;
}
.award_detail li:nth-of-type(2){
	width: 20%;
}
.award_detail li:nth-of-type(3){
	width: 50%;
}
.award_detail_top span:nth-of-type(1){
	width: 30%;
}
.award_detail_top span:nth-of-type(2){
	width: 20%;
}
.award_detail_top span:nth-of-type(3){
	width: 50%;
}*/
/**
 * 适配iphoneapplet
 */
@media  screen and (max-width:320px ) {
	.getAward{
		height: 12rem;
	}
	.list,.line3_left, .line3_right{
		height: 3rem;	
	}
	.list2,.line3_center{
		height: 6rem;
	}
	.line2, .line4{
		font-size: 0.8rem;
	    line-height: 3rem
	}
	.actTime{
		top: 36%;
		font-size: 0.8rem;	
	}
}

@media screen and (min-width:321px) and (max-width:375px){
  .getAward{
		height: 14rem;
	}
	.list,.line3_left, .line3_right{
		height: 3.5rem;
	}
	.list2,.line3_center {
		height: 7rem;
	}
	.line2, .line4{
		font-size: 0.9rem;
	    line-height: 3.5rem
	}
	.actTime{
		top: 33%;
		font-size: 0.9rem;	
	}
}
@media screen and (min-width:375px) and (max-width:414px){
  .getAward{
		height: 16rem;
	}
	.list,.line3_left, .line3_right{
		height: 4rem;
	}
	.list2,.line3_center{
		height:8rem;
	}
	.line2, .line4{
		font-size: 0.9rem;
	    line-height: 4rem
	}
}
@media screen and (min-width:768px){
  .getAward_wrap3{
  	bottom: 10%;	
  }
}
/*
 * 弹窗
 */
.awarad_suc{
	width: 90%;
	height: 5rem;
	position: absolute;
	top: 13%;
	left: 5%;
	
}
.awarad_suc .awarad_suc_bg{
	width: 100%;
	position: relative;
}
.award_tc{
	width: 80%;
	height: 10rem;
	margin: 0 auto;
	position: absolute;
	top: 135%;
	left:10%;	
}
.award_tc span{
	display: inline-block;
}
.ff6724{
	color: #ff6724;
}
.span1{
	font-size: 1.2rem;
	color: #000;
	text-align: right;
	width:45%;
}

.span2{
	width:55%;
	font-size: 1.4rem;
	text-align: left;
}
.award_img{
	display: block;
	width: 6rem;
	margin: 0 auto;
	padding: 0.8rem 0;
}
.award_txt,.award_time{
	width: 100%;
	text-align: center;
	color: #333;
	font-size: 1rem;
	padding: 0.2rem 0;
}
.award_fal,.awarad_login{
	width: 80%;
	height: 12rem;
	background: #fff;
	margin: 0 auto;
	position: absolute;
	top: 23%;
	left: 10%;
	border-radius: 0.3rem;
}
.hidden{
	display: none;
}
.award_fal_img{
	margin-top: -2rem;
    margin-left: -10%;
    width: 120%;
}
.award_fal_txt{
	color: #2165dc;
	width: 80%;
	text-align: center;
	font-size: 1rem;
	line-height: 1.6rem;
	padding: 0.5rem 0;
	margin: 0 auto;
}
.login,.register{
	display: block;
	width: 80%;
	height: 2.4rem;
	background: #2165DC;
	margin: 0 auto;
	margin-top: 1.5rem;
	border-radius: 0.3rem;
	text-align: center;
	line-height: 2.4rem;
	color: #fff;
	font-size: 1.2rem;
}
/*
 * 登录
 */
.login_bg{
	width: 100%;
}
.login_bg img{	
	width: 100%;
}
.num,.password{
	width: 90%;
	margin: 0 auto;
	height: 3rem;
	vertical-align: middle;
	border: 1px solid #ccc;
	border-radius: 0.3rem;
	margin-bottom: 1.5rem;
}
.num img{
	margin-left: 1rem;
	width: 1rem;
}
.password img{
	margin-left: 1rem;
	width: 1rem;
}
.numphone,.numpassword{
	display: inline-block;
	border: 0;
	height: 2.9rem;
	padding-left: 0.5rem;
}
.resiter_btn{
	margin-top: 0.5rem;
	padding-right: 1rem;
	float: right;
	color: #2165DC;
}

.get_yzm{
	display: inline-block;
	width: 30%;
	background: #2165DC;
	line-height: 2.6rem;
	height: 2.6rem;
	border-radius: 0.3rem;
	color: #fff;
	text-align: center;
	font-size: 0.8rem;
	
}

.numyzm{
	width: 60%;
}
#zhezhao{
	width: 100%;
	height: 100%;
	background: #333;
	opacity: 0.7;
	position: absolute;
	top: 0;
	left: 0;
}

/*抽奖特效*/
#lottery {
	background: url(images/bg.jpg) no-repeat;
	width: 100%;
}

#lottery table td {
	text-align: center;
	font-size: 24px;
	color: #333;
	width: 25%;
	border: 1px solid #b03dfc;
	vertical-align: middle;
	background: #fddb0d;
	border-radius: 0.3rem;
	height: 4rem;
}

#lottery table td a {
	line-height: 150px;
	display: block;
	text-decoration: none;
}

#lottery table td.active {
	background-color: #ea0000;
}

.awarad_i{
	position: absolute;
	top:0;
	left: 0;
	display: inline-block;
	width: 25%;
	height: 4rem;
	box-sizing: border-box;
	border: 3px solid #a62195;
}


@keyframes bgAnimation
{
	from {
		background-image: url(/images/awardbg.png);
	}
	to {
		background-image: url(/images/awardbg2.png);
	}
}

@-webkit-keyframes bgAnimation /*Safari and Chrome*/
{
	from {
		background-image: url(/images/awardbg.png);
	}
	to {
		background-image: url(/images/awardbg2.png);
	}
}

