<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"></meta>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;"></meta>
	    <meta name="format-detection" content="telephone=no"/>
	    <meta name="apple-mobile-web-app-capable" content="yes" />
	    <meta content="telephone=no" name="format-detection" />
	    <meta name="browsermode" content="application"></meta>
	    <meta name="x5-page-mode" content="app"></meta>
	    <meta name="msapplication-tap-highlight" content="no"></meta>
		<title></title>
		<link href="../css/style.css" rel="stylesheet" />
	</head>
	<body>
		<div class="detail_bg">
			<img class="detail_bg_img" src="/images/detail_bg.png" />
			<div class="actTime">
				<p>在9月10日到10月10日</p>
				<p>首次注册的用户均可以参与幸运大抽奖</p>
			</div>
			<div class="getAward_wrap3">
				<div class="getAward_wrap2">
					<div class="getAward_wrap1">
						<div class="getAward">
						<div class="list line1 border">
							<img class="list_img" src="../images/iphone7.png"/>
						</div><!--
						--><div class="list line2 cr243884 border">会员体验</div><!--
						--><div class="list border">
							<img class="list_img" src="../images/shop.png"/>
						</div><!--
						--><div class="list line2 cr243884 border">会员体验</div><!--
						--><div class="list2">
							<div class="line3">
								<div class="line3_left line2 cr243884 border">会员体验</div>
								<div class="line3_left border">
									<img class="list_img" src="../images/iphone7.png"/>
								</div>
							</div><!--
						--><div class="line3_center a62195">
							<img class="get_img" src="../images/get.png"/>
						</div><!--
						--><div class="line3">
								<div class="line3_right border"><img class="list_img" src="../images/iphone6.png"/></div>
								<div class="line3_right line2 cr243884 border">会员体验</div>
							</div>
						</div><!--
						--><div class="list line2 cr243884 border">会员体验</div><!--
						--><div class="list line2 cr243884 border"><img class="list_img height60" src="../images/ruyi.png"/>
						</div><!--
						--><div class="list border"><img class="list_img" src="../images/iphone7.png"/></div><!--
						--><div class="list line4 cr243884 border">会员体验</div>
					</div>
					</div>
				</div>
			</div>
		</div>
		<div class="detail_footer">
			<div class="rule">
				<p class="rule_tit">活动规则</p>
				<span>1、本活动针对活动期间内注册用户；</span>
				<span>2、活动期间内，每位用户仅有一次抽奖的机会；</span>
				<span>3、本活动仅供演示培训所用</span>
			</div>
			<div class="award_info">
				<p class="award_info_tit">中奖信息</p>
					<div class="award_info_list">
					<div class="award_detail_top">
						<span>用户名</span><span>奖品</span><span>中奖时间</span>
					</div>
					<ul class="award_detail">
						<li>18500000000</li>
						<li>一等奖</li>
						<li>xxxx</li>
						<li>18500000000</li>
						<li>一等奖</li>
						<li>xxxx</li>
						<li>18500000000</li>
						<li>一等奖</li>
						<li>xxxx</li>
						<li>18500000000</li>
						<li>一等奖</li>
						<li>xxxx</li>
						<li>18500000000</li>
						<li>一等奖</li>
						<li>xxxx</li>
						<li>18500000000</li>
						<li>一等奖</li>
						<li>xxxx</li>
						<li>18500000000</li>
						<li>一等奖</li>
						<li>xxxx</li>
						<li>18500000000</li>
						<li>一等奖</li>
						<li>xxxx</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="awarad_suc hidden">
			<img class="awarad_suc_bg" src="../images/award_suc.png" />
			<div class="award_tc">
				<span class="span1">获得</span><span class="span2 ff6724">三等奖</span>
				<img class="award_img" src="../images/shop.png" />
				<p class="award_txt">200元购物卡一张</p>
				<p class="award_time">2017-09-12 14:20:30</p>
			</div>
		</div>
		<div class="award_fal hidden">
			<img class="award_fal_img" src="../images/award_fal.png"/>
			<p class="award_fal_txt">您不是活动期间内注册用户，不能参与抽奖！</p>
		</div>
		<div class="awarad_login hidden">
			<img class="award_fal_img" src="../images/award_login.png"/>
			<p class="award_fal_txt">您还未登录系统，请登录以后再说</p>
			<span class="login">登录</span>
		</div>
		<div id="zhezhao" class="hidden"></div>
	</body>
</html>
