<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;">
	    <meta name="format-detection" content="telephone=no"/>
	    <meta name="apple-mobile-web-app-capable" content="yes" />
	    <meta content="telephone=no" name="format-detection" />
	    <meta name="browsermode" content="application">
	    <meta name="x5-page-mode" content="app">
	    <meta name="msapplication-tap-highlight" content="no">
		<title></title>
		<link href="../css/style.css" rel="stylesheet" />
	</head>
	<body>
		<div class="login_bg">
			<img src="../images/login_bg.png" />
		</div>
		<div class="num">
			<img src="../images/shouji.png"><input class="numphone" type="number" placeholder="请输入手机号" />
		</div>
		
		<div class="num yzm">
			<img src="../images/shouji.png"><input class="numphone numyzm" type="number" placeholder="请输入手机号" /><div class="get_yzm">验证码</div>
			
		</div>
		<div class="password">
			<img src="../images/login_password.png"><input class="numpassword" type="password" placeholder="请输入密码" />
		</div>
		<div class="password">
			<img src="../images/login_password.png"><input class="numpassword" type="password" placeholder="请再次输入密码" />
		</div>
		<span class="register">注册</span>
		
	</body>
</html>
